.side__menu-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);

    .ant-menu {
        background-color: #fff;
        color: var(--text-color);

        .ant-menu-item {
            &:hover {
                background-color: var(--primary-color) !important;
            }
        }
    }

    .log__out-section {
        padding-left: 24px;
        width: calc(100% - 8px);
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 35px;
        cursor: pointer;
        border-radius: 8px;
        margin: 0px 4px 35px;
        height: 40px;
        transition: 0.15s all ease-in-out;
        font-size: 15px;

        &:hover {
            background-color: var(--primary-color);
            color: #fff;
        }
    }
}