.input__default{
    border:1px solid black;
    border-radius: 4px;
    padding: 3px 5px;
}
input:focus{
    border: 2px solid black;
}
.input_small{
    width: 150px;
}
.input__medium{
    width: 200px;
}

.input__large{
    width: 300px;
}