.error__page-container {
    position: absolute;
    inset: 0;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scaleX(-1);
    }

    .error__text {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        inset: 0;
        color: #fff;
        font-size: 50px;

        .bolder-txt {
            font-weight: 700;
        }

        .error__btn {
            font-size: 20px;
        }
    }
}