.overview-wrapper {
    height: calc(100vh - 105px);
}

.overview__heading{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 12px;
}
.overview__content{
    display: flex;
    justify-content: space-between;
}
.overview__content-avatar{
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 2px -1px 10px -1px rgba(0,0,0,0.75);
    border-radius: 4px;
    .overview__inp-change-avatar {
        position: absolute;
        inset: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 3;
    }
    .avatar__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .avatar__camera {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(30px, 3vw, 42px);
        z-index: 2;
        opacity: 0;
        transition: 0.15s all ease-in-out;
        background: rgba(0,0,0,0.75);
        color: #fff;
    }
    &:hover {
        .avatar__camera {
            opacity: 1;
        }
    }
}
.overview__content-detail{
    width: 65%;
    background-color: #fff;
}
.overview__content-detail-heading{
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    :nth-child(2){
        margin-top: 5px;
        cursor: pointer;
    };
   
}
.overview__content-detail-wrapper{
    margin: 0 auto;
    width: 90%;
    >div{
        margin:10px 0
    };
    input{
        width: 100%;
        border:1px solid #d9d9d9;
        border-radius:6px;
        padding: 4px 11px;
        font-size: 14px;
        &:disabled{
            background: #0000000A;
            color: #cbc5be;
        }
    }
}
.overview__edit{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    
    .button__default {
        width: calc(100% / 3 - 10px);
    }
}
