.employees__container {
    
    .employee__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.employees__action {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-bottom: 20px;
  
    .employees__search-btn {
      .button__text {
        margin-right: 4px;
      }
    }
  }
  .action__edit {
    margin-bottom: 13px;
    div {
      display: inline-block;
      margin-left: 8px;
    }
  }
  .action__delete {
    margin-bottom: 13px 0;
    div {
      display: inline-block;
      margin-left: 8px;
    }
  }
  
  .employees__row-action {
    text-align: right;
  }
  
  .action__delete, .action__edit {
    transition: 0.12s all ease-in-out;
    cursor: pointer;
  
    &:hover {
      color: var(--primary-color);
    }
  }
  
  .employees__total-emp {
    color: var(--primary-color);
    font-weight: 500;
  }
  
  .add__employees-modal {
    .add__employees-label {
      margin-bottom: 6px;
      font-weight: 500;
    }
    .custom__input-container {
      margin-bottom: 20px;
    }
  }
  
  .manipulated__action {
    padding: 10px;
  }
.download__btn {
    display: inline-flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 5px 12px;
    border-radius: 4px;
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    transition: 0.12s all ease-in-out;

    &:hover {
        border-color: var(--primary-color);
        background-color: transparent;
        color: var(--primary-color);
    }
}

.employess__section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.add_employees_modal {
 display: flex;
 justify-content: space-around;
 width: 100%;
 gap: 50px;
}
.select {
  display: flex;
  gap: 20px;
}
.ant-select-selector {
 margin-right: 20px;
}
.ant-input-number.css-dev-only-do-not-override-1km3mtt {
  margin-bottom: 20px;
}
